[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_ca

[dn]
C = US
ST = State
L = City
O = Factory
OU = IT
CN = 192.168.1.11

[v3_ca]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment

[alt_names]
DNS.1 = localhost
IP.1 = 192.168.1.11
IP.2 = 127.0.0.1
