-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: florence
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alert_reads`
--

DROP TABLE IF EXISTS `alert_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alert_reads` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alert_id` int NOT NULL,
  `user_id` int NOT NULL,
  `read_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_alert_user` (`alert_id`,`user_id`),
  KEY `idx_user_read` (`user_id`,`read_at`),
  CONSTRAINT `fk_alert_reads_alert` FOREIGN KEY (`alert_id`) REFERENCES `production_alerts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alert_reads`
--

LOCK TABLES `alert_reads` WRITE;
/*!40000 ALTER TABLE `alert_reads` DISABLE KEYS */;
/*!40000 ALTER TABLE `alert_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `colors`
--

DROP TABLE IF EXISTS `colors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `colors` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `colors`
--

LOCK TABLES `colors` WRITE;
/*!40000 ALTER TABLE `colors` DISABLE KEYS */;
INSERT INTO `colors` VALUES (1,'Mulberry','Mulberry','2026-03-09 10:57:44','2026-04-08 08:02:17',1,NULL);
/*!40000 ALTER TABLE `colors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (1,'GB','Gabor','2026-03-09 10:56:58','2026-03-09 10:56:58',1,NULL),(2,'Test','Test','2026-04-28 07:13:06','2026-04-28 07:14:08',1,NULL);
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employees` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `work_centre_id` int DEFAULT NULL,
  `machine_centre_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `work_centre_id` (`work_centre_id`),
  KEY `machine_centre_id` (`machine_centre_id`),
  CONSTRAINT `employees_ibfk_1` FOREIGN KEY (`work_centre_id`) REFERENCES `work_centres` (`id`),
  CONSTRAINT `employees_ibfk_2` FOREIGN KEY (`machine_centre_id`) REFERENCES `machine_centres` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forms_master`
--

DROP TABLE IF EXISTS `forms_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `forms_master` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forms_master`
--

LOCK TABLES `forms_master` WRITE;
/*!40000 ALTER TABLE `forms_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `forms_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groups_master`
--

DROP TABLE IF EXISTS `groups_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `groups_master` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups_master`
--

LOCK TABLES `groups_master` WRITE;
/*!40000 ALTER TABLE `groups_master` DISABLE KEYS */;
INSERT INTO `groups_master` VALUES (1,'GB','6024','2026-03-09 11:04:30','2026-04-08 08:00:50',1,NULL);
/*!40000 ALTER TABLE `groups_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leather`
--

DROP TABLE IF EXISTS `leather`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leather` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leather`
--

LOCK TABLES `leather` WRITE;
/*!40000 ALTER TABLE `leather` DISABLE KEYS */;
INSERT INTO `leather` VALUES (1,'GS','Goat Suede','2026-03-09 10:58:53','2026-03-09 10:58:53',1,NULL);
/*!40000 ALTER TABLE `leather` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `line_setup`
--

DROP TABLE IF EXISTS `line_setup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `line_setup` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `machine_id` varchar(100) NOT NULL,
  `login_date_time` datetime NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_centre_id` int NOT NULL,
  `smv_per_pair` decimal(10,4) NOT NULL,
  `logout_date_time` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `work_centre_id` (`work_centre_id`),
  KEY `machine_centre_id` (`machine_centre_id`),
  CONSTRAINT `line_setup_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `line_setup_ibfk_2` FOREIGN KEY (`work_centre_id`) REFERENCES `work_centres` (`id`),
  CONSTRAINT `line_setup_ibfk_3` FOREIGN KEY (`machine_centre_id`) REFERENCES `machine_centres` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `line_setup`
--

LOCK TABLES `line_setup` WRITE;
/*!40000 ALTER TABLE `line_setup` DISABLE KEYS */;
/*!40000 ALTER TABLE `line_setup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machine_centre_app`
--

DROP TABLE IF EXISTS `machine_centre_app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_centre_app` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prod_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_id` int NOT NULL,
  `emp_id` varchar(10) NOT NULL,
  `output_pairs` int DEFAULT '0',
  `target_mins` int NOT NULL,
  `start_time` datetime DEFAULT NULL,
  `finish_time` datetime DEFAULT NULL,
  `idle_start_time` datetime DEFAULT NULL,
  `idle_stop_time` datetime DEFAULT NULL,
  `idle_duration` int DEFAULT '0' COMMENT 'Total idle minutes',
  `actual_time` int DEFAULT '0' COMMENT 'Minutes elapsed',
  `button_status` int DEFAULT '1' COMMENT '1=Running, 2=Finished, 3=Stopped',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_machine_date` (`machine_id`,`prod_date`),
  KEY `idx_work_centre` (`work_centre_id`),
  KEY `idx_status` (`button_status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_centre_app`
--

LOCK TABLES `machine_centre_app` WRITE;
/*!40000 ALTER TABLE `machine_centre_app` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_centre_app` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machine_centre_production`
--

DROP TABLE IF EXISTS `machine_centre_production`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_centre_production` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prod_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_id` varchar(100) NOT NULL,
  `emp_id` varchar(10) NOT NULL,
  `output_pairs` int DEFAULT '12' COMMENT 'Output pairs (normally 12 per entry)',
  `target_mins` decimal(10,2) NOT NULL COMMENT 'Target time in minutes',
  `start_time` datetime DEFAULT NULL COMMENT 'Production Start Time',
  `finish_time` datetime DEFAULT NULL COMMENT 'Production Finish Time',
  `idle_start_time` datetime DEFAULT NULL COMMENT 'Idle Start Time',
  `idle_stop_time` datetime DEFAULT NULL COMMENT 'Idle Stop Time',
  `stoppage_reason` varchar(100) DEFAULT NULL,
  `actual_time` decimal(10,2) GENERATED ALWAYS AS (coalesce((timestampdiff(SECOND,`start_time`,`finish_time`) / 60.0),0)) STORED,
  `idle_mins` decimal(10,2) GENERATED ALWAYS AS (coalesce((timestampdiff(SECOND,`idle_start_time`,`idle_stop_time`) / 60.0),0)) STORED,
  `button_status` int DEFAULT '1' COMMENT '1 = Start / 2 = Finish / 3 = Stop',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_prod_date` (`prod_date`),
  KEY `idx_machine_id` (`machine_id`),
  KEY `idx_work_centre` (`work_centre_id`),
  KEY `idx_status` (`button_status`)
) ENGINE=InnoDB AUTO_INCREMENT=677 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Raw production entries - per 12 pairs';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_centre_production`
--

LOCK TABLES `machine_centre_production` WRITE;
/*!40000 ALTER TABLE `machine_centre_production` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_centre_production` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_mcp_validate_refs_before_insert` BEFORE INSERT ON `machine_centre_production` FOR EACH ROW BEGIN IF NOT EXISTS (SELECT 1 FROM machine_centres WHERE machine_id = NEW.machine_id) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid machine_id for machine_centre_production'; END IF; IF NOT EXISTS (SELECT 1 FROM employees WHERE code = NEW.emp_id) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid emp_id for machine_centre_production'; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_mcp_before_insert_set_prod_date` BEFORE INSERT ON `machine_centre_production` FOR EACH ROW BEGIN IF NEW.prod_date IS NULL THEN IF NEW.start_time IS NULL THEN SET NEW.prod_date = DATE(NOW()); ELSE SET NEW.prod_date = DATE(NEW.start_time); END IF; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_mcp_validate_refs_before_update` BEFORE UPDATE ON `machine_centre_production` FOR EACH ROW BEGIN IF NEW.machine_id <> OLD.machine_id THEN IF NOT EXISTS (SELECT 1 FROM machine_centres WHERE machine_id = NEW.machine_id) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid machine_id for machine_centre_production'; END IF; END IF; IF NEW.emp_id <> OLD.emp_id THEN IF NOT EXISTS (SELECT 1 FROM employees WHERE code = NEW.emp_id) THEN SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid emp_id for machine_centre_production'; END IF; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_mcp_before_update_set_prod_date` BEFORE UPDATE ON `machine_centre_production` FOR EACH ROW BEGIN IF NEW.prod_date IS NULL THEN IF NEW.start_time IS NOT NULL THEN SET NEW.prod_date = DATE(NEW.start_time); ELSE SET NEW.prod_date = DATE(NOW()); END IF; END IF; END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `machine_centre_summary`
--

DROP TABLE IF EXISTS `machine_centre_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_centre_summary` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prod_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_id` varchar(100) NOT NULL,
  `emp_id` varchar(10) NOT NULL,
  `total_output_pairs` int DEFAULT '0' COMMENT 'SUM(output_pairs)',
  `total_target_mins` decimal(10,2) DEFAULT '0.00' COMMENT 'SUM(target_mins)',
  `total_actual_mins` decimal(10,2) DEFAULT '0.00' COMMENT 'SUM(actual_time)',
  `total_idle_mins` decimal(10,2) DEFAULT '0.00' COMMENT 'SUM(idle_mins)',
  `avg_efficiency_percent` decimal(8,2) GENERATED ALWAYS AS ((case when ((`total_actual_mins` + `total_idle_mins`) > 0) then least(((`total_target_mins` / (`total_actual_mins` + `total_idle_mins`)) * 100),9999.99) else 0 end)) STORED,
  `cum_avg_time` decimal(10,2) DEFAULT '0.00' COMMENT 'total_actual_mins / 12',
  `button_status` int DEFAULT '1' COMMENT 'Latest status (1/2/3)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_summary` (`prod_date`,`work_centre_id`,`machine_id`,`emp_id`),
  KEY `idx_summary_date` (`prod_date`),
  KEY `idx_summary_machine` (`machine_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1671 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Summary/Pivot table aggregated from machine_centre_production';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_centre_summary`
--

LOCK TABLES `machine_centre_summary` WRITE;
/*!40000 ALTER TABLE `machine_centre_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_centre_summary` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`win-ebo7mqmm1pu`*/ /*!50003 TRIGGER `trg_alert_on_summary_insert` AFTER INSERT ON `machine_centre_summary` FOR EACH ROW BEGIN
  IF NEW.avg_efficiency_percent < 50 AND NEW.avg_efficiency_percent > 0 THEN
    INSERT INTO production_alerts
      (alert_type, severity, work_centre_id, machine_id, alert_date, message, threshold_value, actual_value, is_read)
    VALUES (
      'efficiency_low', 'critical', NEW.work_centre_id, NEW.machine_id, NEW.prod_date,
      CONCAT('Machine ', NEW.machine_id, ' efficiency critically low at ', ROUND(NEW.avg_efficiency_percent, 1), '% (threshold: 50%)'),
      50, NEW.avg_efficiency_percent, 0
    );
  ELSEIF NEW.avg_efficiency_percent < 70 AND NEW.avg_efficiency_percent >= 50 THEN
    INSERT INTO production_alerts
      (alert_type, severity, work_centre_id, machine_id, alert_date, message, threshold_value, actual_value, is_read)
    VALUES (
      'efficiency_low', 'warning', NEW.work_centre_id, NEW.machine_id, NEW.prod_date,
      CONCAT('Machine ', NEW.machine_id, ' efficiency below target at ', ROUND(NEW.avg_efficiency_percent, 1), '% (threshold: 70%)'),
      70, NEW.avg_efficiency_percent, 0
    );
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`win-ebo7mqmm1pu`*/ /*!50003 TRIGGER `trg_alert_on_summary_update` AFTER UPDATE ON `machine_centre_summary` FOR EACH ROW BEGIN
  IF NEW.avg_efficiency_percent <> OLD.avg_efficiency_percent THEN
    IF NEW.avg_efficiency_percent < 50 AND NEW.avg_efficiency_percent > 0 THEN
      INSERT INTO production_alerts
        (alert_type, severity, work_centre_id, machine_id, alert_date, message, threshold_value, actual_value, is_read)
      VALUES (
        'efficiency_low', 'critical', NEW.work_centre_id, NEW.machine_id, NEW.prod_date,
        CONCAT('Machine ', NEW.machine_id, ' efficiency critically low at ', ROUND(NEW.avg_efficiency_percent, 1), '% (threshold: 50%)'),
        50, NEW.avg_efficiency_percent, 0
      );
    ELSEIF NEW.avg_efficiency_percent < 70 AND NEW.avg_efficiency_percent >= 50 THEN
      INSERT INTO production_alerts
        (alert_type, severity, work_centre_id, machine_id, alert_date, message, threshold_value, actual_value, is_read)
      VALUES (
        'efficiency_low', 'warning', NEW.work_centre_id, NEW.machine_id, NEW.prod_date,
        CONCAT('Machine ', NEW.machine_id, ' efficiency below target at ', ROUND(NEW.avg_efficiency_percent, 1), '% (threshold: 70%)'),
        70, NEW.avg_efficiency_percent, 0
      );
    END IF;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `machine_centre_summary_history`
--

DROP TABLE IF EXISTS `machine_centre_summary_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_centre_summary_history` (
  `id` int NOT NULL,
  `prod_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_id` varchar(100) NOT NULL,
  `emp_id` varchar(10) NOT NULL,
  `total_output_pairs` int DEFAULT '0',
  `total_target_mins` decimal(10,2) DEFAULT '0.00',
  `total_actual_mins` decimal(10,2) DEFAULT '0.00',
  `total_idle_mins` decimal(10,2) DEFAULT '0.00',
  `avg_efficiency_percent` decimal(6,2) DEFAULT NULL,
  `cum_avg_time` decimal(10,2) DEFAULT '0.00',
  `button_status` int DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`,`prod_date`),
  KEY `idx_history_date` (`prod_date`),
  KEY `idx_history_machine` (`machine_id`),
  KEY `idx_archived_at` (`archived_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Historical data from machine_centre_summary';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_centre_summary_history`
--

LOCK TABLES `machine_centre_summary_history` WRITE;
/*!40000 ALTER TABLE `machine_centre_summary_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_centre_summary_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machine_centres`
--

DROP TABLE IF EXISTS `machine_centres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_centres` (
  `id` int NOT NULL AUTO_INCREMENT,
  `work_centre_id` int DEFAULT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `machine_name` varchar(255) DEFAULT NULL,
  `machine_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_name_per_work_centre` (`work_centre_id`,`name`),
  UNIQUE KEY `unique_machine_id` (`machine_id`),
  KEY `work_centre_id` (`work_centre_id`),
  CONSTRAINT `machine_centres_ibfk_1` FOREIGN KEY (`work_centre_id`) REFERENCES `work_centres` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_centres`
--

LOCK TABLES `machine_centres` WRITE;
/*!40000 ALTER TABLE `machine_centres` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_centres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manual_entry_audit_logs`
--

DROP TABLE IF EXISTS `manual_entry_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manual_entry_audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `entry_id` bigint DEFAULT NULL,
  `action` enum('CREATE','UPDATE','DELETE') NOT NULL,
  `actor_user_id` bigint DEFAULT NULL,
  `actor_username` varchar(255) DEFAULT NULL,
  `actor_role` varchar(100) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `before_data` longtext,
  `after_data` longtext,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_manual_entry_audit_entry` (`entry_id`),
  KEY `idx_manual_entry_audit_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manual_entry_audit_logs`
--

LOCK TABLES `manual_entry_audit_logs` WRITE;
/*!40000 ALTER TABLE `manual_entry_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `manual_entry_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `missed_action_states`
--

DROP TABLE IF EXISTS `missed_action_states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `missed_action_states` (
  `issue_key` varchar(255) NOT NULL,
  `acknowledged_at` datetime DEFAULT NULL,
  `snoozed_until` datetime DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`issue_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `missed_action_states`
--

LOCK TABLES `missed_action_states` WRITE;
/*!40000 ALTER TABLE `missed_action_states` DISABLE KEYS */;
/*!40000 ALTER TABLE `missed_action_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobile_sessions`
--

DROP TABLE IF EXISTS `mobile_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobile_sessions` (
  `session_id` varchar(36) NOT NULL,
  `machine_id` varchar(100) DEFAULT NULL,
  `status` enum('waiting','active','expired') DEFAULT 'waiting',
  `work_centre_id` int DEFAULT NULL,
  `emp_id` int DEFAULT NULL,
  `emp_code` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `activated_at` timestamp NULL DEFAULT NULL,
  `active_machine_key` varchar(100) GENERATED ALWAYS AS ((case when (`status` = _utf8mb4'active') then `machine_id` else NULL end)) STORED,
  `active_emp_key` varchar(50) GENERATED ALWAYS AS ((case when (`status` = _utf8mb4'active') then `emp_code` else NULL end)) STORED,
  PRIMARY KEY (`session_id`),
  UNIQUE KEY `uniq_active_machine` (`active_machine_key`),
  UNIQUE KEY `uniq_active_emp` (`active_emp_key`),
  KEY `idx_session_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobile_sessions`
--

LOCK TABLES `mobile_sessions` WRITE;
/*!40000 ALTER TABLE `mobile_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobile_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pivot_data`
--

DROP TABLE IF EXISTS `pivot_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pivot_data` (
  `id` int NOT NULL AUTO_INCREMENT,
  `table_name` varchar(50) NOT NULL DEFAULT 'Prod Data',
  `prod_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_id` varchar(100) NOT NULL,
  `emp_id` int NOT NULL,
  `output_pairs` int DEFAULT '0',
  `target_mins` int DEFAULT '0',
  `actual_time` int DEFAULT '0',
  `cum_avg_time` int DEFAULT '0',
  `button_status` tinyint DEFAULT '1',
  `target_pairs_per_tray` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_pivot_prod_date` (`prod_date`),
  KEY `idx_pivot_machine_id` (`machine_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pivot_data`
--

LOCK TABLES `pivot_data` WRITE;
/*!40000 ALTER TABLE `pivot_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `pivot_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prod_data`
--

DROP TABLE IF EXISTS `prod_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prod_data` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prod_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `machine_id` varchar(100) NOT NULL,
  `emp_id` int NOT NULL,
  `output_pairs` int DEFAULT '0',
  `target_pairs` int DEFAULT '0',
  `target_mins` int DEFAULT '0',
  `start_time` time DEFAULT NULL,
  `finish_time` time DEFAULT NULL,
  `idle_stop_time` int DEFAULT '0',
  `idle_start_time` int DEFAULT '0',
  `actual_time` int DEFAULT '0',
  `button_status` tinyint DEFAULT '1' COMMENT '1=Start, 2=Finish, 3=Stop',
  `target_pairs_per_tray` int DEFAULT '0',
  `tray_count` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `stoppage_reason` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_prod_date` (`prod_date`),
  KEY `idx_machine_id` (`machine_id`),
  KEY `idx_work_centre` (`work_centre_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prod_data`
--

LOCK TABLES `prod_data` WRITE;
/*!40000 ALTER TABLE `prod_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `prod_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_alerts`
--

DROP TABLE IF EXISTS `production_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_alerts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alert_type` enum('efficiency_low','headcount_low','machine_idle','idle_too_long','over_target','no_scan_heartbeat','machine_offline','target_at_risk','custom') NOT NULL,
  `severity` enum('info','warning','critical') NOT NULL DEFAULT 'warning',
  `work_centre_id` int DEFAULT NULL,
  `machine_id` varchar(100) DEFAULT NULL,
  `alert_date` date NOT NULL,
  `message` text NOT NULL,
  `threshold_value` decimal(10,2) DEFAULT NULL,
  `actual_value` decimal(10,2) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `emailed` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_alert_date` (`alert_date`),
  KEY `idx_unread` (`is_read`,`alert_date`),
  KEY `idx_wc` (`work_centre_id`)
) ENGINE=InnoDB AUTO_INCREMENT=222 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_alerts`
--

LOCK TABLES `production_alerts` WRITE;
/*!40000 ALTER TABLE `production_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `production_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_day_locks`
--

DROP TABLE IF EXISTS `production_day_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_day_locks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `lock_date` date NOT NULL,
  `work_centre_id` int NOT NULL,
  `locked_by` int NOT NULL,
  `locked_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lock` (`lock_date`,`work_centre_id`),
  KEY `idx_lock_date` (`lock_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_day_locks`
--

LOCK TABLES `production_day_locks` WRITE;
/*!40000 ALTER TABLE `production_day_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `production_day_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_plan`
--

DROP TABLE IF EXISTS `production_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_plan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plan_date` date NOT NULL,
  `style_id` int NOT NULL,
  `customer_id` int NOT NULL,
  `group_id` int NOT NULL,
  `leather_id` int NOT NULL,
  `color_id` int NOT NULL,
  `work_centre_id` int NOT NULL,
  `total_target_per_day` int NOT NULL,
  `target_pairs_per_tray` int NOT NULL,
  `tray_count` int DEFAULT NULL,
  `man_hours_minutes` int NOT NULL,
  `smv_per_pair` decimal(10,4) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_plan_date_work_centre` (`plan_date`,`work_centre_id`),
  KEY `style_id` (`style_id`),
  KEY `customer_id` (`customer_id`),
  KEY `group_id` (`group_id`),
  KEY `leather_id` (`leather_id`),
  KEY `color_id` (`color_id`),
  KEY `work_centre_id` (`work_centre_id`),
  CONSTRAINT `production_plan_ibfk_1` FOREIGN KEY (`style_id`) REFERENCES `styles` (`id`),
  CONSTRAINT `production_plan_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `production_plan_ibfk_3` FOREIGN KEY (`group_id`) REFERENCES `groups_master` (`id`),
  CONSTRAINT `production_plan_ibfk_4` FOREIGN KEY (`leather_id`) REFERENCES `leather` (`id`),
  CONSTRAINT `production_plan_ibfk_5` FOREIGN KEY (`color_id`) REFERENCES `colors` (`id`),
  CONSTRAINT `production_plan_ibfk_6` FOREIGN KEY (`work_centre_id`) REFERENCES `work_centres` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_plan`
--

LOCK TABLES `production_plan` WRITE;
/*!40000 ALTER TABLE `production_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `production_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_routing_header`
--

DROP TABLE IF EXISTS `production_routing_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_routing_header` (
  `id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `group_id` int NOT NULL,
  `leather_id` int NOT NULL,
  `style_id` int NOT NULL,
  `color_id` int NOT NULL,
  `created_on` date NOT NULL,
  `category` varchar(50) DEFAULT NULL,
  `target_per_day` int NOT NULL,
  `target_per_hour` decimal(10,2) GENERATED ALWAYS AS ((`target_per_day` / 8)) STORED,
  `tot_smv` decimal(10,4) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_style_machine` (`style_id`),
  UNIQUE KEY `unique_style_date` (`style_id`,`created_on`),
  KEY `customer_id` (`customer_id`),
  KEY `group_id` (`group_id`),
  KEY `leather_id` (`leather_id`),
  KEY `style_id` (`style_id`),
  KEY `color_id` (`color_id`),
  CONSTRAINT `production_routing_header_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `production_routing_header_ibfk_2` FOREIGN KEY (`group_id`) REFERENCES `groups_master` (`id`),
  CONSTRAINT `production_routing_header_ibfk_3` FOREIGN KEY (`leather_id`) REFERENCES `leather` (`id`),
  CONSTRAINT `production_routing_header_ibfk_4` FOREIGN KEY (`style_id`) REFERENCES `styles` (`id`),
  CONSTRAINT `production_routing_header_ibfk_5` FOREIGN KEY (`color_id`) REFERENCES `colors` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_routing_header`
--

LOCK TABLES `production_routing_header` WRITE;
/*!40000 ALTER TABLE `production_routing_header` DISABLE KEYS */;
INSERT INTO `production_routing_header` (`id`, `customer_id`, `group_id`, `leather_id`, `style_id`, `color_id`, `created_on`, `category`, `target_per_day`, `tot_smv`, `created_at`, `updated_at`, `deleted_at`) VALUES (25,1,1,1,1,1,'2026-04-01','Attaching',210,68.7800,'2026-04-09 06:55:07','2026-04-24 09:59:18',NULL);
/*!40000 ALTER TABLE `production_routing_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_routing_lines`
--

DROP TABLE IF EXISTS `production_routing_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_routing_lines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `routing_header_id` int NOT NULL,
  `machine_centre_id` varchar(100) NOT NULL,
  `process` varchar(100) DEFAULT NULL,
  `observed_time` decimal(10,2) NOT NULL,
  `rating_factor` decimal(5,2) NOT NULL,
  `normal_time_secs_pr` decimal(10,4) GENERATED ALWAYS AS (((`observed_time` * `rating_factor`) / 100)) STORED,
  `std_time_secs_pr` decimal(10,4) GENERATED ALWAYS AS ((((`observed_time` * `rating_factor`) / 100) * 1.15)) STORED,
  `mins_12_prs_box` decimal(10,4) GENERATED ALWAYS AS ((((((`observed_time` * `rating_factor`) / 100) * 1.15) * 12) / 60)) STORED,
  `manpower` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `routing_header_id` (`routing_header_id`),
  KEY `machine_centre_id` (`machine_centre_id`),
  CONSTRAINT `fk_routing_lines_machine` FOREIGN KEY (`machine_centre_id`) REFERENCES `machine_centres` (`machine_id`),
  CONSTRAINT `production_routing_lines_ibfk_1` FOREIGN KEY (`routing_header_id`) REFERENCES `production_routing_header` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_routing_lines`
--

LOCK TABLES `production_routing_lines` WRITE;
/*!40000 ALTER TABLE `production_routing_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `production_routing_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rework_rejection`
--

DROP TABLE IF EXISTS `rework_rejection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rework_rejection` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `work_centre_id` int NOT NULL,
  `production_date` date NOT NULL,
  `machine_centre_name` varchar(100) DEFAULT NULL,
  `total_output_pairs` int DEFAULT '0',
  `bins_completed` int DEFAULT '0',
  `rework_qty` int DEFAULT '0',
  `rejection_qty` int DEFAULT '0',
  `reason_category` varchar(20) DEFAULT NULL,
  `reason` varchar(100) DEFAULT NULL,
  `saved_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_wc_date` (`work_centre_id`,`production_date`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rework_rejection`
--

LOCK TABLES `rework_rejection` WRITE;
/*!40000 ALTER TABLE `rework_rejection` DISABLE KEYS */;
INSERT INTO `rework_rejection` VALUES (1,5,'2026-04-11','Attaching',12,1,1,4,'MACHINE','Needle/Foot','2026-04-11 12:58:49'),(2,5,'2026-04-11','Folding',12,1,0,0,NULL,NULL,'2026-04-11 12:58:49'),(3,5,'2026-04-11','Stiching',12,1,0,0,NULL,NULL,'2026-04-11 12:58:49'),(4,5,'2026-04-11','MIC Operator',12,1,0,0,NULL,NULL,'2026-04-11 12:58:49'),(5,5,'2026-04-11','Latex Spraying',12,1,0,0,NULL,NULL,'2026-04-11 12:58:49'),(6,5,'2026-04-11','Eyelet punching and clouching',12,1,0,0,NULL,NULL,'2026-04-11 12:58:49'),(7,5,'2026-04-11','Trimming',12,1,0,0,NULL,NULL,'2026-04-11 12:58:49');
/*!40000 ALTER TABLE `rework_rejection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  `default_route` varchar(255) NOT NULL,
  `allowed_menus` json NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stitching_events`
--

DROP TABLE IF EXISTS `stitching_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stitching_events` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `machine_id` varchar(20) NOT NULL,
  `status` tinyint(1) NOT NULL,
  `event_time` datetime NOT NULL,
  `source_file` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_machine_id` (`machine_id`),
  KEY `idx_event_time` (`event_time`),
  KEY `idx_machine_event_time` (`machine_id`,`event_time`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stitching_events`
--

LOCK TABLES `stitching_events` WRITE;
/*!40000 ALTER TABLE `stitching_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `stitching_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `styles`
--

DROP TABLE IF EXISTS `styles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `styles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `styles`
--

LOCK TABLES `styles` WRITE;
/*!40000 ALTER TABLE `styles` DISABLE KEYS */;
INSERT INTO `styles` VALUES (1,'6024','6024','2026-03-09 10:57:28','2026-04-08 08:01:09',1,NULL);
/*!40000 ALTER TABLE `styles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_table`
--

DROP TABLE IF EXISTS `test_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `test_table` (
  `id` int DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_table`
--

LOCK TABLES `test_table` WRITE;
/*!40000 ALTER TABLE `test_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracker_alert_actions`
--

DROP TABLE IF EXISTS `tracker_alert_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tracker_alert_actions` (
  `issue_key` varchar(255) NOT NULL,
  `acknowledged_at` datetime DEFAULT NULL,
  `escalated_at` datetime DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`issue_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracker_alert_actions`
--

LOCK TABLES `tracker_alert_actions` WRITE;
/*!40000 ALTER TABLE `tracker_alert_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracker_alert_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_rights`
--

DROP TABLE IF EXISTS `user_rights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_rights` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `form_id` int NOT NULL,
  `read_permission` tinyint(1) DEFAULT '0',
  `write_permission` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_form` (`user_id`,`form_id`),
  KEY `form_id` (`form_id`),
  CONSTRAINT `user_rights_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_rights_ibfk_2` FOREIGN KEY (`form_id`) REFERENCES `forms_master` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_rights`
--

LOCK TABLES `user_rights` WRITE;
/*!40000 ALTER TABLE `user_rights` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_rights` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT 'user',
  `work_centre_id` int DEFAULT NULL,
  `machine_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `machine_centre_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `work_centre_id` (`work_centre_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`work_centre_id`) REFERENCES `work_centres` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_centres`
--

DROP TABLE IF EXISTS `work_centres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_centres` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_centres`
--

LOCK TABLES `work_centres` WRITE;
/*!40000 ALTER TABLE `work_centres` DISABLE KEYS */;
INSERT INTO `work_centres` VALUES (5,'Stitching-line','Line 2A','2026-04-09 07:06:28','2026-04-11 06:01:19',1,NULL);
/*!40000 ALTER TABLE `work_centres` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-05 16:53:41
